$cor-padrao: #2196f3;   
@import url('https://fonts.googleapis.com/css?family=Poppins');
html, body{
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	display: flex;
    justify-content: center;
    align-items: center;
}
.container {
	background-color: $cor-padrao;
	width:  325px;
	height: 365px;
	border-radius: 5%;
}
/*Data*/
#datap {
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	margin-left: 10px;
	user-select: none;
}
/*Switch Button*/
.toggle {
  float: right;
  top: -14%;
  font-size:1em;
  font-family: 'Poppins', sans-serif;
  display:block;
  width:4em;
  height:2em;
  border-radius:1em;
  margin:1em;
  position:relative;
  background-color: #fff;
  text-align:center;
  line-height:2;
  color: $cor-padrao;
  cursor:pointer;
  user-select: none;
}
.toggle input[type="checkbox"] { display:none }
.toggle .switch {
  display:block;
  width:1.6em;
  height:1.6em;
  position:absolute;
  top:.2em; left:.2em;
  border-radius:50%;
  background:radial-gradient($cor-padrao, $cor-padrao 70%, $cor-padrao);
  -webkit-transition:left 200ms linear;
     -moz-transition:left 200ms linear;
          transition:left 200ms linear;
}
.toggle.checked .switch { left:2.2em }
.toggle .switch:before, .toggle .switch:after {
  content:'';
  display:block;
  position:absolute;
}
.cidade {
	position: relative;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 16pt;
	color: #fff;
	background-color: #4dabf5;
	margin-left: 0px;
	padding: 0px;
	user-select: none;
}
.fundo {
	position: absolute;
    background-color: #4dabf5;
	padding: 10px;
	width: 250px;
	margin-left: 26px;
	border-radius: 5%;
	user-select: none;
}
.temperatura {
	font-family: 'Poppins', sans-serif;
	font-size: 16pt;
	margin-left: 150px;
	line-height: 280px;
	color: #fff;
	user-select: none;
}
/*Icones*/
.cloud {
	position: absolute;
	margin-top: -110px;
	margin-left: 10px;
	user-select: none;
}
.humidity {
	position: absolute;
	margin-top: -110px;
	margin-left: 130px;
	user-select: none;
}
.wind {
	position: absolute;
	margin-top: -110px;
	margin-left: 250px;
	user-select: none;
}
/*Dados*/
.clima {
	position: absolute;
	margin-top: -50px;
	margin-left: 10px;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	user-select: none;
}
.humidade {
	position: absolute;
	margin-top: -50px;
	margin-left: 148px;
	color: #fff;
	font-family: 'Poppins', sans-serif;	
	user-select: none;
}
.vento {
	position: absolute;
	margin-top: -50px;
	margin-left: 250px;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	user-select: none;
}
